@media screen and (max-width: 1024px) {
    
    .logo {
        left: calc(55vw/2);
        top: calc(75vh/2);
    }
    .book {
        width: 45%;
    }
}
@media screen and (max-width: 770px) {

    .logo {
        left: calc(35vw/2);
        top: calc(75vh/2);
    }
    .book {
        width: 45%;
    }
}

@media screen and (max-width: 426px) {

    .logo {
        font-size: 3em;
        left: calc(20vw/2);
    }
    .book {
        width: 100%;
    }
    .footer--collapsed {
        bottom: -6.7em;
    }
    .search_form_inputs {
        flex-direction: column;
        align-items: center;
    }
    .search_form_submitButton {
        width: 75%;
    }
}