:root {
    --bookSearch_grey: #C4C4C4;
    --bookSearch_grey_medium: #C1C1C1;
    --bookSearch_grey_dark: #A09A9A;
}
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
}
header {
    width: 100%;
}
.logo {
    display: flex;
    font-size: 4em;
    left: calc(75vw/2);
    top: calc(75vh/2);
    position: fixed;
}
.logoMove {
    animation: minimizeToCorner 1s forwards;
}
@keyframes minimizeToCorner {
    0% {
        width: initial;
        background: none;
    }
    25% {
        width: initial;
        transform: rotate(90deg);
        background: none;
    }
    50% {
        width: initial;
        background: none;
    }
    75% {
        width: initial;
        background: none;
    }
    100% {
        background-color: white;
        font-size: 1.5em;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0.2em 0 0 0.2em;
        width: 100%;
        transform: rotate(360deg);
    }
}
.logo_icon {
    margin-right: 0.5em;
    width: 0.9em;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
}
.book {
    background-color: var(--bookSearch_grey);
    margin: 1em;
    padding: 0.5em;
    width: 30%;
}
.book_image {
    float: left;
    margin: 1em;
}
.book_details_back {
    margin: 1em;
}
.book_details_front {
    margin: 1em;
}
footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: bottom .5s ease-in-out;
    
}
.footer--collapse {
    bottom: -4.6em;
}
.search {
    max-width: 1024px;
    min-width: 385px;
    width: 50%;
}
.search_toggle {
    display: block;
    background-color: var(--bookSearch_grey);
    border: 0.2em solid var(--bookSearch_grey_medium);
    border-bottom: none;
    font-family: Roboto, sans-serif;
    margin: auto;
    padding: .5em 3em;
    border-radius: 2em 2em 0 0;
}
.search_toggle:hover,
.search_toggle:focus {
    background-color: var(--bookSearch_grey_dark);
    border: 0.2em solid var(--bookSearch_grey_dark);
    border-bottom: none;
}
.search_toggle--collapsed {
    background-color: var(--bookSearch_grey_dark);
    border: 0.2em solid var(--bookSearch_grey_dark);
    border-bottom: none;
}
.search_form {
    background-color: var(--bookSearch_grey);
    border: 0.1em solid var(--bookSearch_grey_medium);
    margin: 0;
}
.search_form_invalidMessage {
    color: red;
    text-align: center;
}
.search_form_inputs {
    display: flex;
    justify-content: space-around;
    padding: 0.6em;
}
.search_form input,
.search_form button {
    background-color: var(--bookSearch_grey);
    border: 1px solid black;
    color: black;
    font-family: Roboto, sans-serif;
    padding: 0.5em 1em;
    font-size: 14px;
}
.search_form_input {
    width: 75%;
}
.search_form_input::placeholder {
    color: black;
}
.search_form_submitButton {
    color:black;
}

/***** Utility Classes *****/

.hideVisibility {
    visibility: hidden;    
}